<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612038671774-kklai0801dqgqot7sl1qel2m7ktgkfi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612038671774-kklai0801dqgqot7sl1qel2m7ktgkfi3</string>
	<key>API_KEY</key>
	<string>AIzaSyDWqRZAtsGgtvJ6PRK8F9KUfHCD4VaK6wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>612038671774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-5a0b2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-5a0b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612038671774:ios:837a583d0dbd9ba2402a8f</string>
</dict>
</plist>